*,html,body {
    margin: 0;
    padding: 0;
}


body {
    color:  rgb(239, 198, 218);
    background-color:rgb(146, 116, 137);
}

.text1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Ballo thambi 2', cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
.text2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Ballo thambi 2', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .text3 {
        font-size: 50px;
        font-weight: 700;
        font-family: 'Ballo thambi 2', cursive;
        text-align: center;
        justify-content: center;
        align-items: center;
}


.text1 span {
    animation: glow 6.0s ease infinite;
}

.text2 span {
    animation: glow 6.0s ease infinite;
}

.text3 span {
    animation: glow 6.0s ease infinite;
}


@keyframes glow {
    0%, 100% {
        color: white;
        text-shadow: 0 0 25px goldenrod,  0 0 50px goldenrod, 0 0 100px goldenrod ;
        }
        20%, 90% {
    color: black;
    text-shadow: none;
        }
}
 /*TEXT1*/
 .text1 span:nth-child(1) {
    animation-delay: 0.8s;
}

.text1 span:nth-child(2) {
    animation-delay: 1.0s;
}

.text1 span:nth-child(3) {
    animation-delay: 1.2s;
}

.text1 span:nth-child(4) {
    animation-delay: 1.4s;
}

.text1 span:nth-child(5) {
    animation-delay: 1.6s;
}

/* TEXT 2*/

.text2 span:nth-child(1) {
    animation-delay: 1.8s;
}

.text2 span:nth-child(2) {
    animation-delay: 2.0s;
}

.text2 span:nth-child(3) {
    animation-delay: 2.2s;
}

.text2 span:nth-child(4) {
    animation-delay: 2.4s;
}

.text2 span:nth-child(5) {
    animation-delay: 2.6s;
}
.text2 span:nth-child(6) {
    animation-delay: 2.8s;
}

.text2 span:nth-child(7) {
    animation-delay: 3.0s;
}

.text2 span:nth-child(8) {
    animation-delay: 3.2s;
}


/*TEKS 3*/
.text3 span:nth-child(1) {
    animation-delay: 3.4s;
}

.text3 span:nth-child(2) {
    animation-delay: 3.6s;
}

.text3 span:nth-child(3) {
    animation-delay: 3.8s;
}

.text3 span:nth-child(4) {
    animation-delay: 4.0s;
}
.text3 span:nth-child(5) {
    animation-delay: 4.2s;
}

.text3 span:nth-child(6) {
    animation-delay: 4.4s;
}

.text3 span:nth-child(7) {
    animation-delay: 4.8.0s;
}

.home {
    color: black;
    background: url('Screenshot (7).png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content { 
    max-width: 600px;
}    

.home-content h1 {
    font-size: 56px;
     font-weight: 700;
     line-height: 1.2;
    }
    
    .home-content h3 {
    font-size: 32px; 
    font-weight: 700;
    color: #00abf0;
    }
    
    .home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    }
    
    .home-content .btn-box {
    width: 345px; 
    height: 50px;
    display: flex;
    justify-content: space-between;
    }

    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
        font-size: 19px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
.btn-box a:hover {
    color: peru;
}


      
    




  
